/* shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.primary-text {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: white;
  
    padding:15px 30px;
}

/* nav related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 700;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}
/* header related styles */
.header{
    background-color:#FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png'); 
    background-repeat: no-repeat;
    background-position:bottom right,bottom left;
background-size:550px,90px  500px ;
}
 .banner{
    padding:30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.banner .profile-pic{
    width: 350px;
height: 500x;
}
.banner-greeting{
    font-size: 40px;
    color:#474747;
    margin-bottom: 0;
}
.banner-heading{
    color:#181818;
    font-size: 55px;
    margin-top:2px;
    margin-bottom:0 ;
}
.banner-desc{
color:  #757575;
font-size: 18px;
font-weight: 400;
margin-top:3px;
line-height: 20px;
/* max-width: 585px; */
}

/* main section related work */
main{
    max-width: 1000px;
    margin:0 auto;
}
.about{

border-radius: 10px;
background: #FFF8F3;
padding: 130px;
margin :130px 0;
text-align: center;
}
.colrab{
color:  #181818;
text-align: center;
font-size: 35px;
}
.sec-description{
    color:  #757575;
    text-align: center;
    font-size: 10px;
}

.about-info-container{
display:flex;
line-height: 10px;
justify-content:space-around ;
/* margin-right: 50px; */
}
.about-info{
    text-align: center;
}
.aboutinfo-title{
    color: #757575;
font-size: 13px;
font-style: normal;
font-weight: 400;
margin-bottom: 10px;
}
.info-description{
font-size:16px ;
}

#what-i-do{
     padding: 0 190px ;
     color: var(--dark-03, #757575);
text-align: center;
font-size: 10px;
/* font-weight: 400; */
/* line-height: 30px; */
}

.skills-container{
    display: flex;
    gap:24px;
}
.skil{
    padding: 30px ;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description{
    color:#757575;
} 

.resume-container{
    display: flex;
    gap:50px;
}

.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
}
.resume-item-institute{
color: #757575;
font-size: 20px;
}
.resume-description{
color: var(--dark-03, #757575);
font-size: 16px;
line-height: 28px;
}
.resume-item{
    line-height: 10px;
}
.download-cv{
    text-align: center;
    margin-top:50px;
    margin-bottom: 100px;
}

.section-title{
    display:flex;
}
.social-links>a{
    margin-left:20px ;
    margin-top: 16px;
}

footer{
    display:flex;
    gap:100px;
    background: #FFF8F3;
    padding:130px 200px;
}
.footer-column{
    width:50%;
}
.contact input[type="text"],.contact input[type="email"],textarea{

display: block;
margin-bottom:25px;
color:  #757575;
background-color: #FFF;
font-size: 16px;
padding:18px 35px;
border-radius:6px;
border:0;
width:100%;
}
